*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Monserrat", sans-serif;
  color: #332e28;
  line-height: 1.6rem;
  font-weight: 300;
  font-size: 1.5rem; }

.container {
  margin: 10rem 45rem;
  box-shadow: 0 2rem 4rem rgba(51, 46, 40, 0.95);
  background-color: #F8F6F4;
  display: grid;
  grid-template-columns: [side-section_start] 0.9fr [side-section_end content-section_start] 2fr [content-section_end];
  grid-template-rows: 0.4fr repeat(8, 1fr); }

.media-icon {
  width: 3rem;
  height: 3rem;
  fill: #27374D; }

.skill_icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #27374D; }

.hr {
  display: grid;
  grid-template-columns: 0.1fr .8fr  0.1fr;
  align-items: center; }
  .hr::after {
    content: "";
    height: 2px;
    display: block;
    background-color: #27374D;
    grid-column: 2 / 3; }

.dot {
  font-size: 3.5rem; }

.heading-1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-3 {
  font-size: 1.8rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  display: flex;
  text-align: center; }

.about_me {
  background-color: #C4DFDF;
  grid-column: side-section_start / side-section_end;
  grid-row: 3/-2;
  display: grid;
  grid-template-rows: 30rem 1rem 15rem 1rem 15rem 30rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.5rem; }
  .about_me .heading-3 {
    text-align: center; }
  .about_me__info-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    column-gap: 1rem; }
  .about_me__initial-info {
    display: grid;
    row-gap: 1.5rem; }
  .about_me__languages {
    display: grid;
    row-gap: 1rem; }
  .about_me__hobby {
    display: grid;
    row-gap: 0.5rem; }

.certifications {
  grid-row: 8 / 9;
  grid-column: content-section_start / content-section_end; }

.education {
  padding: 2rem;
  grid-row: 1 / 3;
  grid-column: content-section_start / content-section_end;
  display: grid;
  grid-template-rows: 0.2fr 1fr 1rem;
  padding-left: 1rem; }
  .education .hr {
    grid-row: 3 / 4;
    grid-column: 2 / -1; }
  .education__heading {
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .education__content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.5fr 3rem; }
    .education__content .dot {
      display: flex;
      align-items: end;
      justify-content: center; }
    .education__content-date {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    .education__content-education-institution {
      display: flex;
      align-items: end;
      justify-content: start;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 2rem; }
    .education__content-subject {
      grid-column: 2 / 3;
      display: flex;
      align-items: start;
      justify-content: start;
      font-weight: 100;
      color: #494540; }

.experience {
  grid-row: 3 / 6;
  grid-column: content-section_start / content-section_end;
  display: grid;
  grid-template-rows: 0.2fr 4fr 1rem;
  padding-left: 1rem; }
  .experience__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    align-items: center; }
  .experience__content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(5, 1fr); }
    .experience__content__item {
      grid-column: 1 / -1;
      display: grid;
      gap: 1rem;
      grid-template-columns: 0.2fr 1fr 0.5fr 3rem;
      grid-template-rows: 1fr 0.5fr; }
      .experience__content__item .dot {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        align-items: end;
        justify-content: center; }
      .experience__content__item-date {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: end;
        font-weight: 100; }
      .experience__content__item-company {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: end;
        justify-content: start;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 2rem; }
      .experience__content__item-role {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        align-items: start;
        justify-content: start; }

.footer {
  background-color: #5C8984;
  grid-column: 1 / -1;
  grid-row: -2 / -1; }

.hero {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  padding: 2rem;
  justify-items: center;
  justify-content: center;
  row-gap: 1rem;
  line-height: 2.2rem; }
  .hero__photo {
    height: 16rem;
    overflow: hidden;
    border-radius: 50%; }

.skills {
  background-color: #E3F4F4;
  grid-row: 6 / 8;
  grid-column: content-section_start / content-section_end; }
