$color-primary: #F8F6F4;
$color-secondary_blue_1: #C4DFDF;
$color-secondary_blue_2: #D2E9E9;
$color-secondary_blue_3: #E3F4F4;

$color-footer: #5C8984;
$color-media-icon: #27374D;

$color-font_color_1: #332e28;
$color-font_color_2: #494540;

//Fonts
$font_primary: "Monserrat", sans-serif;
$font_secondary: "Roboto", sans-serif;


*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font_primary;
    color: $color-font_color_1;
    line-height: 1.6rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.container {
    margin: 10rem 45rem;
    
    box-shadow: 0 2rem 4rem rgba(#332e28, .95);
    background-color: $color-primary;
    display: grid;

    grid-template-columns: [side-section_start] 0.9fr [side-section_end content-section_start] 2fr [content-section_end];

    grid-template-rows: 0.4fr repeat(8, 1fr);
}

.media-icon {
    width: 3rem;
    height: 3rem;
    fill: $color-media-icon;
}

.skill_icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-media-icon;
}

.hr {
    display: grid;
    grid-template-columns: 0.1fr .8fr  0.1fr;
    align-items: center;
    

    &::after {
        content: "";
        height: 2px;
        display: block;
        background-color: $color-media-icon;
        grid-column: 2 / 3;
    }
}

.dot {
    font-size: 3.5rem;

}