.footer {
    background-color: $color-footer;
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #fff;
    text-align: center ;
}