.heading-1 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}

.heading-3{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.heading-4 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    display: flex;
    text-align: center;
}